#quemsomos{
  height: 100vh;
  background-image: url('../img/backgroundAreWe.jpg');
  background-repeat:no-repeat;
  background-size: 100vh auto;
  background-position: auto;
}

#portfolio{
  height: 100vh;
  background-image: url('../imgs/Cyber\ City.jpg');
  background-repeat:no-repeat;
  background-size: 100vw 100vh;
  background-position: auto;
}

.portfolio{
  background-color: rgb(0, 0, 0, 0.5);
  height: 100vh;
}

.portfolio_info{
  height: 12.5vh;
  text-align: center;
  font-size: 10vh;
  color: white;
  background-color: rgb(0, 0, 0, 0.75);
}
* {box-sizing:border-box}

/* Slideshow container */
.carrossel {
  width: 100vw;
  height: 77.5vh;
  position: relative;
  margin: 5vh auto 0vh;
}

/* Hide the images by default */
.slide {
  display: none;
  width: 100vw;
  height: 77.5vh;
}

.slide_items{
  height: 77.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #f887ff;
}

.slide_items > img {
  height: 50vh;
  width: 50vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
  background-color: rgba(255,255,255,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1vh;
  width: 1vh;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #de004e;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}